= simple_form_for @order do |f|
  - if f.error_notification.presence
    .alert.alert-danger
      = f.error_notification

  = f.input :name
  = f.input :address
  = f.input :email
  = f.input :pay_type, prompt: t('.pay_prompt')
  = f.button :submit, t('.submit'), class: "btn btn-primary"
