= simple_form_for @order do |f|
  - if f.error_notification.presence
    .alert.alert-danger
      = f.error_notification

  = f.input :name
  = f.input :address
  = f.input :email
  = f.input :pay_type, prompt: "お支払い方法を選択してください"
  = f.button :submit, class: "btn btn-primary"
