%fieldset
  %legend= t('.legend')


  = form_tag pay_credit_card_order_path(@order), id: "charge-form" do
    .charge-errors

    .form-group
      %label{for: "number"}= t('.number')
      = text_field_tag "number", nil, placeholder: t('.number'), maxlength: 16, class: "form-control"

    .form-group
      %label{for: "cvc"}
        CVC
      = text_field_tag "cvc", nil, placeholder: "CVC", maxlength: 3, class: "form-control"

    .form-group
      %label{for: "exp_month"}= t('.expiration')
      .form-row
        .col-auto
          = text_field_tag "exp_month", nil, placeholder: t('.month'), maxlength: 2, class: "form-control"
        .col-auto
          = text_field_tag "exp_year", nil, placeholder: t('.year'), maxlength: 4, class: "form-control"

    = submit_tag t('.submit'), class: "btn btn-primary"
