= simple_form_for @product, wrapper: :default, defaults: { wrapper: false } do |f|
  - if f.error_notification.presence
    .notification.is-warning
      = f.error_notification

  = f.input :title, placeholder: "Input title here..."
  = f.input :description, placeholder: "Input description here...", html: { rows: "10" }
  = f.input :image, as: :file
  = f.input :price, placeholder: "Input price here..."
  = f.button :submit, class: "button is-primary"
