%h1.title Listing products

%table.table.is-striped
  %thead
    %tr
      %th
      %th Title
      %th Price
      %th
  %thoot
    - @products.each do |product|
      %tr
        %th
          = link_to image_tag(product.image_url(:thumb)), product
        %th
          = link_to product.title, product
        %th
          = product.price
          %span.is-size-5<
            $
        %th
          = link_to 'Edit', edit_product_path(product), class: "button is-primary"
          = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-primary"

%br

= link_to 'New Product', new_product_path, class: "button is-primary"
