%h1.title= t('.title')

%hr

%ul
- @products.each do |product|
  %li.row
    .col-4
      = link_to image_tag(product.image_url(:thumb)), store_path(product.id)
    .col
      .row
        .col
          = link_to product.title, store_path(product.id)
        .col
          = number_to_currency(product.price)
        .col
          = button_to t('.add'), cart_items_path(product_id: product), class: "btn btn-primary", remote: true
        = product.description.truncate(200)
  %hr

