%main.columns
  .submenu.column.is-4
    #aside-cart
      = render "carts/aside_cart", cart: @cart, current_item: nil

    -# HACK boxの間にマージンを取る
    .box
      %aside.menu
        %ul.menu-list
          %li
            = link_to "ホーム", "/"
          %li
            = link_to "よくある質問", "/"
          %li
            = link_to "ニュース", "/"
          %li
            = link_to "お問い合わせ", "/"
  .column
    %h1.title Product Catalog

    %hr

    %ul
      - @products.each do |product|
        %li.columns
          .column.is-2
            = link_to image_tag(product.image_url(:thumb)), store_path(product.id)
          .column
            .columns.is-vcentered
              .column
                .field.is-size-3
                  = link_to product.title, store_path(product.id)
              .column
                .field.is-size-4<
                  = number_to_currency(product.price)
              .column
                = button_to 'Add to Cart', cart_items_path(product_id: product), class: "button is-primary", remote: true
            .is-hidden-mobile
              = product.description.truncate(200)
        %hr

