!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %title Depot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.has-navbar-fixed-top
    - if !content_for(:navbar)
      %nav.navbar.is-light.is-fixed-top{ role: :navigation, aria: { label: "main navigation" } }
        .navbar-brand
          = link_to "PRAGMATIC BOOKSHELF", "/", class: "navbar-item is-size-4"
        .navbar-menu
          .navbar-end
            .navbar-item
              #navbar-cart
                = render "carts/cart_icon", cart: current_cart_or_create

    - else
      = yield :navbar

    .container
      - if notice.presence
        .notification.is-success
          = notice
      - if flash[:error].presence
        .notification.is-danger
          = flash[:error]
      = yield
