!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %title Depot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://js.pay.jp/'
    = javascript_tag do
      Payjp.setPublicKey("#{ENV['PAYJP_API_PUBLIC']}");
  %body.has-navbar-fixed-top
    = yield :navbar

    .container.mt-2
      #flash-messages
        - if notice.presence
          .alert.alert-info
            = notice
        - if flash[:error].presence
          .alert.alert-danger
            = flash[:error]
      = content_for?(:content) ? yield(:content) : yield
