- content_for :navbar do
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    = link_to t('.title'), root_path, class: "navbar-brand mr-auto"

    = form_tag store_index_path, class: "form-inline", method: :get do
      = select_tag 'set_locale',
        options_for_select(LANGUAGES, I18n.locale.to_s),
        onchange: 'this.form.submit()',
        class: "form-control"
      = submit_tag 'submit', style: "display: none;"

- content_for :content do
  %main.row
    .col-lg-4
      #aside-cart
        = render current_cart_or_create, current_item: nil

      -# HACK boxの間にマージンを取る
      .border.rounded.mt-1
        %aside
          %ul.list-group
            %li.list-group-item
              = link_to t('.home'), root_path
            %li.list-group-item
              = link_to t('.questions'), root_path
            %li.list-group-item
              = link_to t('.news'), root_path
            %li.list-group-item
              = link_to t('.contact'), root_path

    .col-sm

      = yield

= render template: 'layouts/application'
