- content_for :navbar do
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    = link_to t('.title'), "/", class: "navbar-brand"

- content_for :content do
  %main.row
    .col-lg-4
      #aside-cart
        = render "carts/aside_cart", cart: current_cart_or_create, current_item: nil

      -# HACK boxの間にマージンを取る
      .border.rounded.mt-1
        %aside
          %ul.list-group
            %li.list-group-item
              = link_to t('.home'), "/"
            %li.list-group-item
              = link_to t('.questions'), "/"
            %li.list-group-item
              = link_to t('.news'), "/"
            %li.list-group-item
              = link_to t('.contact'), "/"

    .col-sm

      = yield

= render template: 'layouts/application'
