- content_for :navbar do
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    = link_to "PRAGMATIC BOOKSHELF", "/", class: "navbar-brand"

- content_for :content do
  %main.row
    .col-sm-4
      #aside-cart
        = render "carts/aside_cart", cart: current_cart_or_create, current_item: nil

      -# HACK boxの間にマージンを取る
      .border.rounded.mt-1
        %aside
          %ul.list-group
            %li.list-group-item
              = link_to "ホーム", "/"
            %li.list-group-item
              = link_to "よくある質問", "/"
            %li.list-group-item
              = link_to "ニュース", "/"
            %li.list-group-item
              = link_to "お問い合わせ", "/"

    .col-sm

      = yield

= render template: 'layouts/application'
